html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #000000;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: rgb(252, 199, 250);
	text-align: center;	
}

h1 {
 	color: rgb(0, 0, 0);
 	font-weight: bold;
 	font-family: verdana;
}

.menu {
	display: block;
	font-size: 20px;
	margin: auto;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 3px;
	width: 20%;
	padding: 5px;
	background-color: rgb(252, 199, 250);
	border: 3px solid black;
	text-align: center;
	text-decoration: none;
	color: black;
	padding: 5px 0px 5px 0px;
}

.menu:hover{
	background-color: #aaa;
}

.menu:visited{
	color: black;
}

img.sobre {
	max-width:10%;
	max-height:10%;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #000000;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: rgb(252, 199, 250);
	text-align: center;	
}

h1 {
	color: black;
 	font-weight: bold;
 	font-family: verdana;
}

.menu {
	display: block;
	font-size: 20px;
	margin: auto;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 3px;
	width: 20%;
	padding: 5px;
	background-color: rgb(252, 199, 250);
	border: 3px solid black;
	text-align: center;
	text-decoration: none;
	color: black;
	padding: 5px 0px 5px 0px;
}

.menu:hover{
	background-color: rgb(252, 199, 250);
}

.menu:visited{
	color: black;
}

img.sobre {
	max-width:10%;
	max-height:10%;
}

.lista-devs {
    list-style: none;     
    padding: 0;           
    margin: 0 auto;       
    text-align: center;   
}

.lista-devs li {
    margin: 4px 0;       
    font-size: 18px;
}
.sobre-texto {
    font-size: 18px;     
    line-height: 1.4;     
    margin: 10px 0;       
    max-width: 800px;     
    margin-left: auto;    
    margin-right: auto;
    text-align: center;
}
