
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td.celula {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    vertical-align: center;
    height: 50px;
    width: 50px;
}

td.personagem {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td.celula {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    vertical-align: center;
    height: 50px;
    width: 50px;
}

td.personagem {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}


