/* TABULEIRO */
.tabuleiro {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tabuleiro table {
    border-collapse: collapse;
    border: 5px solid #000;
    background-color: #000;
}

.tabuleiro td.celula {
    width: 52px;
    height: 52px;

    background-color: #fff;
    border: 1.5px solid #000;

    text-align: center;
    font-weight: bold;
    font-size: 1.35rem;
    font-family: Verdana, sans-serif;

    cursor: pointer;
    user-select: none;
}

.tabuleiro td.celula:hover {
    background-color: #f2e9f7;
}

.tabuleiro td.celula.revelada {
    cursor: default;
    background-color: #fff;
}

/* OVERLAY */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

/* RANKING */
.ranking {
    text-align: left;
    padding-left: 20px;
}

/* BOTÃO VOLTAR */
.botao-menu {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 24px;
    background: #7a2a8a;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}
